        * {
            margin: 0;
            padding: 0;
        }
 
        .background {
            background: black;
            background-blend-mode: darken;
            background-size: cover;
        }

 
        .text-footer {
            text-align: center;
            padding: 30px 0;
            font-family: 'Ubuntu', sans-serif;
            display: flex;
            justify-content: center;
            color: white;
        }